* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body {
    background-color: darkslategray;
}

#menuBG {
    height: 50%;
    width: 50%;
    margin: 0 auto;
    border: 3px solid lightgrey;
    border-radius: 3px;
    color: lightgrey;
}

.menu-container {
    display: flex;
    justify-content: center;
}

.menu {
    margin: 0 10px;
}

#frmMenu {
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

.headerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cart {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#cart div {
    margin: 30px 50px;
}